[submodule "lib/lib"]
	path = lib/lib
	url = git@github.com:Neargye/magic_enum.git
[submodule "external/JUCE"]
	path = external/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "external/expected"]
	path = external/expected/expected
	url = git@github.com:TartanLlama/expected.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = git@github.com:catchorg/Catch2.git
